/* color -- dropdown menu for Forum */
div.dropdown a, div.dropdown .menubar a{
    color:#FFF;
}

div.dropdown .menu, div.dropdown .menubar, div.dropdown .item, div.dropdown .separator{
    background-color: #436792; /* same color set as in your theme/style.ss .th{} is recommended */
    color:#FFF;
}

div.dropdown .separator{
    border: 1px inset #e0e0e0;
}

div.dropdown .menu a:hover, div.dropdown .userbar a:hover{
    color: #333;
}
/* color - end */